*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!classes.jar
!reloaded.jar
!Semaphore.class
*.war
*.ear

# Build dirs
target
build

# IDE specific files and dirs
.idea
*.iml
