<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JMP 2017 task manager</title>
    <meta charset="utf-8"/>
</head>
<body>
<!--/*@thymesVar id="user" type="com.epam.brest.jmp.model.User"*/-->
<!--/*@thymesVar id="task" type="com.epam.brest.jmp.model.Task"*/-->

<h1>JMP 2017 task manager</h1>

<div>
    <a th:text="#{nav.back}" href="#" onclick="window.history.back()"></a>
</div>

<p th:inline="text">
    [[#{app.greeting}]]
    <span th:text="${user.name}">Peter</span>!!!
</p>
<table th:object="${task}">
    <tr>
        <td th:text="#{tasks.label.name}"></td>
        <td th:text="*{name}"></td>
    </tr>

    <tr>
        <td th:text="#{tasks.label.description}"></td>
        <td th:text="*{description}"></td>
    </tr>

    <tr>
        <td th:text="#{tasks.label.owner}"></td>
        <td th:text="${user.name}"></td>
    </tr>
</table>
</body>
</html>