<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.name}">JMP 2017 task manager</title>
    <meta charset="utf-8"/>
</head>
<body>
<h1 th:text="#{app.name}">JMP 2017 task manager</h1>
<p>
</p>
<p th:text="#{tasks.table.name}">
    Task:
<div th:object="${tasks}">
    <!--/*@thymesVar id="tasks" type="java.util.List<com.epam.brest.jmp.model.Task>"*/-->
    <!--/*@thymesVar id="task" type="com.epam.brest.jmp.model.Task"*/-->
    <table>
        <tr>
            <th th:text="#{tasks.label.id}">Task id</th>
            <th th:text="#{tasks.label.name}">Task name</th>
            <th th:text="#{tasks.label.description}">Task description</th>
            <th th:text="#{tasks.label.owner}">Task owner</th>
        </tr>
        <tr th:each="task,row: ${tasks}" th:object="${task}" th:class="${row.odd}? 'odd'">
            <td><a th:text="*{id}" th:href="@{/user/{userId}/task/{taskId}(userId=*{userId},taskId=*{id})}"></a></td>
            <td th:text="*{name}">Task Name</td>
            <td th:text="*{description}">Task description</td>
            <td th:text="*{userId}">Task Owner</td>
        </tr>
    </table>


</div>
</p>
</body>
</html>