<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head th:include="fragments :: head"></head>

<body>
<!--/*@thymesVar id="user" type="com.epam.brest.jmp.model.User"*/-->
<!--/*@thymesVar id="task" type="com.epam.brest.jmp.model.Task"*/-->
<div class="container-fluid">
    <nav th:replace="fragments :: header"></nav>

    <div class="card">
        <div class="card-header fa-2x">
            <span th:text="#{tasks.add}"></span>
            <a th:text="#{nav.back}" href="#" onclick="window.history.back()"></a>
        </div>
        <form id="userForm" class="form-group" th:object="${user}" th:action="@{/user/new}" method="post">

            <label th:for="${#fields.idFromName('id')}"></label>
            <input type="hidden" th:field="*{id}" th:errorClass="fieldError"/>

            <label th:for="${#fields.idFromName('name')}"
                   th:text="#{users.label.name}"
                   class="col-sm-2 form-control-label"></label>
            <input type="text"
                   th:field="*{name}"
                   th:errorClass="fieldError"
                   class="form-control"/>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

             <label th:for="${#fields.idFromName('surname')}"
                   th:text="#{users.label.surname}"
                   class="col-sm-2 form-control-label"></label>
            <input type="text"
                   th:field="*{surname}"
                   th:errorClass="fieldError"
                   class="form-control"/>
            <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>

            <label th:for="${#fields.idFromName('email')}"
                   th:text="#{users.label.email}"
                   class="col-sm-2 form-control-label"></label>
            <input type="text"
                   th:field="*{email}"
                   th:errorClass="fieldError"
                   class="form-control"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

            <button type="submit" th:text="#{task.new.submit}">Create!</button>

        </form>

    </div>


</div>

<footer th:include="fragments :: footerCommon"></footer>

</body>


</html>